[Unit]
Description=Kafka
Before=
After=network.target

[Service]
User=kafka
Environment=JAVA_HOME=/usr/java/latest
ExecStart={{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/real-server.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target
